<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_number %><br>
    <%= f.number_field :room_number %>
  </div>

  <div class="field">
    <%= f.label :session_start %><br>
    <%= f.datetime_select :session_start %>
  </div>
  <div class="field">
    <%= f.label :session_end %><br>
    <%= f.datetime_select :session_end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
