<p id="notice"><%= notice %></p>

<p>
  <strong>Room number:</strong>
  <%= @booking.room_number %>
</p>


<p>
  <strong>Session start:</strong>
  <%= @booking.session_start %>
</p>

<p>
  <strong>Session end:</strong>
  <%= @booking.session_end %>
</p>




<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
